# Virtual environments
venv/
.venv/

**/venv/
**/.env

# Python cache
__pycache__/
*.pyc

**/__pycache__/
**/*.pyc

# Environment variables
.env

# Ollama
.ollama/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
